@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Rubik:wght@300;500&display=swap');
*{
    padding: 0px;
    margin: 0px;
} 
.container{
    width: 80%;
    margin: 0px auto;
    overflow: hidden;
}
.logo{
    width:20%;
    float: left;
}
.logo img{
width: 149px;
height: 25px;
margin-top: 56px;
}
.nav{
    width:60%;
    float: left;
    margin-top:56px ;
    margin-left:56px ;
    overflow: hidden;
}
.nav ul li{
     display: inline;
     padding:20px;
     font-family: Rubik;
    font-size: 16px;
}
.nav ul li a{
    text-decoration: none;
    color: #4F5665;;
}
.sign{
    width: 20%;
    float: left;
    display:flex;
   margin-top: 58.62px;
    overflow: hidden;

}
.sign h3{
width: 53px;
height: 19px;
font-family: Rubik;
font-size: 16px;
color: #0B132A;
}
    
button.btn{
    font-size: 16px;
    font-weight: 500;
    border-radius:10px solid red;
    color: red;
    padding:10px 40px;
    background-color:transparent;
    overflow: hidden;
}
.text{
    width: 50%;
    float: left;
    margin-top:px;
}
.text h1{
    font-size:50px;
    font-family:Rubik;
    font-weight: 555;
}
.text p{
    font-size: 16px;
    font-weight: 500;
    font-family: Rubik;
    padding-top: 60px;
    padding-bottom: 60px;
}
.img{
    width: 50%;
    float: left;
}
.btn button{
    color: white;
    background-color:red ;
    margin-top: 10px;
}
